[submodule "gympoint_back_end"]
	path = gympoint_back_end
	url = https://github.com/Librity/gympoint_back_end
[submodule "gympoint_front_end_web"]
	path = gympoint_front_end_web
	url = https://github.com/Librity/gympoint_front_end_web
[submodule "gympoint_front_end_mobile"]
	path = gympoint_front_end_mobile
	url = https://github.com/Librity/gympoint_front_end_mobile
